
header {
    text-align: center;
  }
  
  header h1 {
    font-size: 100px;
    color: #2c3c5c;
    font-weight:200;
  }
   

   input {
  font-size: 20px;
  color: #2c3c5c;
  border: none;
  outline: none;
  border-bottom: 1px solid #2c3c5c;
}

.form-div{
    text-align: center;
    margin: auto;
}