.content {
    background: rgb(220, 208, 208);
    height: 100vh;
  }
  
  .search-container {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(95, 95, 148);
  }
  
  .search-results {
    margin-top: 40px;
    height: 60px;
    width: 100%;
    background-color: rgb(242, 248, 246);
    color: black;
    padding: 5px;
    line-height: 1.5;
    border-radius: 5px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px 5px rgba(122, 17, 129, 0.5);
    border-radius: 5px 5px 5px 5px;
    justify-content: space-evenly;
    text-transform: uppercase;
  }
  
  .company {
    display: flex;
    background: transparent;
    height: auto;
  }
  
  .symbol {
    font-weight: bold;
    color: rgb(255, 8, 8);
    margin-left: 20px;
    padding-right: 30px;
  }
  
  .name {
    color: rgb(38, 13, 105);
    padding-left: 10px;
    padding-right: 11px;
    margin:0 auto;

  }
  
  .price {
    font-size: 24px;
    font-weight: bold;
    color: rgb(105, 10, 177);
    padding-right: 15px;
  }
  
  .search i {
    color: rgb(51, 53, 10);
    font-size: 24px;
    cursor: pointer;
    padding-left: 20px;
  }
  
  i:hover {
    font-size: 25px;
  }
  
  .stockbox {
    color: white;
    text-align: center;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input {
    height: 50px;
    width: 50%;
    border-radius: 5px;
    outline: none;
    border: none;
  }
  
  input:hover {
    box-shadow: 20px 20px 20px 20PX rgba(16, 89, 137, 0.2);
  }

  
  
  @media (max-width: 768px) {
    .search-container {
      flex-direction: column;
    }
    .search-results {
      width: 100%;
    }
    input {
      width: 60%;
    }
  }
  
